/*-------------------------------------------------------------------------------------------------
General
-------------------------------------------------------------------------------------------------*/

body {
	margin-left: 5%;
	margin-right: 5%;  
	//background:  #505050   ;
	background: rgb(2,27,46);
	//background: #708090;
	font-family: Calibri,Arial,sans-serif;	

} 

#wrapper {
	width:  900px;
	background: #A0A0A0 ;
	margin: 0 auto;
}

/*-------------------------------------------------------------------------------------------------
Header
-------------------------------------------------------------------------------------------------*/

#headerimage {
	display: block;
	background-image: url(/images/my2cents_masthead.jpg);  
	height: 150px;  
	width:  900px;
	text-indent: -9999px;

}

#headernav {
	//background: navy;
	background: rgb(3,37,64);
	border-bottom: medium solid orange;	
}

#headernav ul {  
	display: inline;  
	//background: navy;
	background: rgb(3,37,64);
}  

#headernav ul li {  
	display: inline;
	background-position: left;  
	background-repeat: no-repeat;  
	padding-left: 25px;
	padding-right:25px;
//	background: navy;
	background: rgb(3,37,64);
	font-size: large;
	font-weight: bold;
	margin: 0;
}  

#headernav ul a {
	font-size: 100%;  
	font-weight: normal; 
 	color: white;
	text-decoration: none;


}


/*-------------------------------------------------------------------------------------------------
Posts
-------------------------------------------------------------------------------------------------*/


#newpostframe {
	border: thin solid black;
	background: #FFFFFF;	
		width: 500px;
}

#newpostform {
	border: thin solid black;
	background: gray;
	margin: 5px;
	padding: 5px;	
	margin: 5px;
}

#post_author {
	font-size: x-large;
	font-weight: bold;
	color: navy;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#post_time {

}

#post_content {
	margin-top: 5px;
	padding-top: 1em;
	border-top: thin solid blue;
	font-family:"Times New Roman",Georgia,Serif;
	font-size: large;
}

#content {
	margin: 5px;
	padding: 5px;

}

.post {
	border: thin solid black;
	background: #FFFFFF;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
	margin: 5px;
}

/*-------------------------------------------------------------------------------------------------
Login Screen
-------------------------------------------------------------------------------------------------*/

#loginframe {
	border: thin solid black;
	background: #FFFFFF;	
}

#loginform {
	border: thin solid black;
	background: gray;
	margin: 5px;
	padding: 5px;
	width: 200px;
}